*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family:"Science Gothic", sans-serif;
    background-color: lightgrey;
    color:black;

}
 header,main{
    width: 100%;
    max-width: 1200px;   /* puedes cambiarlo a 900, 1000, etc */
    margin: 0 auto;
 }