*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family:"Science Gothic", sans-serif;
    background-color: lightgrey;
    color:black;

}
/* Limitar ancho y centrar
   - header, main y footer no serán de ancho completo
   - max-width evita que la página se vea muy ancha
   - margin auto los coloca al centro del body
*/
 header,main{
    width: 100%;
    max-width: 1200px;   /* puedes cambiarlo a 900, 1000, etc */
    margin: 0 auto;
 }
 
 /*nav*/
 .nav-main{
     background-color: rgb(176, 176, 239);
    padding: 15px 25px;
    max-width: 1200px;
    margin: 0 auto;
    position: sticky;
    top: 0;
    z-index: 1000;
    /*Agregar Felx Box*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.logo{
    font-size: 30px;
    font-weight: bold;
    color:rgb(27, 4, 120);
}

/* Menú de navegación */
.nav-list{
    list-style: none;
    /*Agregar Felx Box*/
    display: flex;
    gap: 15px;
    align-items: center;
}
/* Estilo de los enlaces del menú */
.nav-list a{
    text-decoration: none;
    color: #5237ed;
    font-weight: bold;
    transition: .3s;
}

.nav-list a:hover{
    color: #b81bec; /* color cuando pasas el cursor */
}


/*tarjetas */
.interesante-container{
    padding: 20px;
    display: flex;
   
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
.product-letter{
    
    background: rgb(203, 206, 238);
    border-radius: 20px;
    overflow: hidden;
    padding-bottom: 20px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
    transition: transform .2s ease, box-shadow .2s ease;
    /*para que la batch absoluta se posicione dentro*/
    position: relative;

    flex: 1 1 240px; /*ocupa minoimo los 240 pixeles y puede crecer y encogerse */
}
/* Efecto al pasar el mouse */
.product-letter:hover{
    transform: translateY(-6px);
    box-shadow: 0px 10px 20px rgba(0,0,0,0.15);
}
/* IMAGEN DEL PRODUCTO */
.product-img{
    width: 100%;
    height: 400px;
    object-fit: contain; /* ajusta imagen sin deformarse */
    display: block;
    background-color: rgb(203, 206, 238);
    padding: 10px;

}
/* TÍTULO DEL PRODUCTO */
.product-title{
    font-size: 25px;
    font-weight: 600;
    
    margin: 10px 15px;
    
}
/* DESCRIPCIÓN DEL PRODUCTO */
.product-desc{
    font-size: 14px;
    color: #171616;
    margin: 10px 15px;
}
/* BOTÓN DEL PRODUCTO */
.product-btn{
    background:black;
    color: white;
    border: none;
    padding: 10px 15px;
    margin: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
    transition: .3s ease;
    font-size: 15px;
    font-weight: bold;
}

.product-btn:hover{
    background: #333334;
}

/*grid*/
.c1{
    grid-column: 1/2;
    grid-row: 1/2;

}

.product-letter c2{
    grid-column: 3/6;
    grid-row: 1/4;

}
.product-letter c3{
    grid-column: 1/3;
    grid-row: 4/7;
}
/* SECCIONES GENERALES */
/*aqui todo los textos de p se ponen justificados, descripciones*/
p{
    text-align: justify;
}
/*Aqui se pone todo los h2 homegeneo*/
h2{
    font-size: 35px;
    text-align: center;
    color: rgb(27, 4, 120);
}
h3{
    text-align: justify;
}
section{
    padding: 25px;
}

h2{
    font-size: 28px;
    margin-bottom: 10px;
}

ul{
    padding-left: 20px;
    margin: 10px 0;
}

li{
    margin-bottom: 6px;
}

/*cosas que se venden*/
/* CONTENEDOR DE PRODUCTOS*/
.catalogo-contenedor{
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    
}

/* TARJETA DEL PRODUCTO */
.producto-tarjeta{
    background: #bbb6da;
    border-radius: 15px;
    overflow: hidden;
    padding-bottom: 20px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
    transition: transform .2s ease, box-shadow .2s ease;
    /*para que la batch absoluta se posicione dentro*/
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    position: relative;
    
    

    flex: 1 1 240px; /*ocupa minoimo los 240 pixeles y puede crecer y encogerse */
}

/* Efecto al pasar el mouse */
.producto-tarjeta:hover{
    transform: translateY(-6px);
    box-shadow: 0px 10px 20px rgba(0,0,0,0.15);
}

/* IMAGEN DEL PRODUCTO */
.producto-img{
    width: 100%;
    height: 550px;
    object-fit: cover; /* ajusta imagen sin deformarse */
    background-color: #bbb6da;
    
    padding: 10px;
    position: relative;
}

/* TÍTULO DEL PRODUCTO */
.producto-titulo{
    font-size: 22px;
    font-weight: 700;
    margin-top: 10px;
    margin: 10px 15px;
    text-align: center;
}

/* DESCRIPCIÓN DEL PRODUCTO */
.producto-desc{
    font-size: 14px;
    color: black;
    margin: 10px 15px;
}

/* PRECIO */
.producto-precio{
    font-size: 18px;
    font-weight: bold;
    color: #f4190d;
    margin-bottom: 10px;
    margin: 10px 15px;
    text-align: center;
}

/* BOTÓN DEL PRODUCTO */
.producto-btn{
    background: #ae92ee;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 6px;
    cursor: pointer;
    transition: .3s ease;
    font-size: 15px;
    font-weight: bold;
    margin: 10px 10px ;
    

}

.producto-btn:hover{
    background: #6d89e5;
}
.producto-badge{
    position: absolute;
    background-color: #9d8cf3;
    top: 10px;
    left: 10px;
    color: #fafafa;
    padding: 5px 12px;
    border-radius: 20px;
}
/*Sección del equipo*/
.equipo-section{
    text-align: center;
    padding: 40px 25px;
}

.equipo-section p{
    max-width: 700px;
    margin: 0 auto 20px;
}

.equipo-contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 60px;
}

.equipo-card{
    background-color: rgb(209, 189, 234);
    width: 280px;
    padding: 60px 20px 30px;
    border-radius: 20px;
    box-shadow: 0px 8px 20px rgb(208, 199, 199);
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

}
.equipo-foto{
    width: 130px;
    height: 130px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid rgb(196, 164, 235);

    position: absolute;
    top: -55px;
    left: 50%;
    transform: translate(-50%);
    background-color: white;
}

.equipo-card h3{
    margin-top: 15px;
    color: #080808;
    font-size: 20px;

}
.equipo-rol{
    font-size: 14px;
    color: #060606;
    margin: 10px;
}

.equipo-desc{
    font-size: 14px;
    color: #080808;
    line-height: 1;
}

/*comunidad*/
/* CONTACTO EN DOS COLUMNAS*/
.contacto-section{
    margin-top: 40px;
    display: flex;
    gap: 20px;
    align-items: center;
    flex-wrap: wrap;
   
}
.contacto-contenido,
.contacto-aside{
    flex: 1 1 240px;
    
}
/* FORMULARIO */
.form-contacto{
    background: white;
    padding: 20px;
    border-radius: 25px;

    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 2px solid #a593f5;
}

textarea, input{
    border-radius: 5px;
    border: 2px solid #ba5ff2;
}
.msj-btn {
    background: #ba5ff2;
    color: white;
    border: none;
    padding: 12px 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s ease;
    font-size: 16px;
    width: 100%;
}

/* Hover */
.msj-btn:hover {
    background: #ba5ff2;
}
