*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family:"Science Gothic", sans-serif;
    background-color: lightgrey;
    color:black;

}
/* Limitar ancho y centrar
   - header, main y footer no serán de ancho completo
   - max-width evita que la página se vea muy ancha
   - margin auto los coloca al centro del body
*/
 header,main{
    width: 100%;
    max-width: 1200px;   /* puedes cambiarlo a 900, 1000, etc */
    margin: 0 auto;
 }
 
 /*nav*/
 .nav-main{
     background-color: rgb(176, 176, 239);
    padding: 15px 25px;
    max-width: 1200px;
    margin: 0 auto;
    position: sticky;
    top: 0;
    z-index: 1000;
    /*Agregar Felx Box*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.logo{
    font-size: 30px;
    font-weight: bold;
    color:rgb(27, 4, 120);
}

/* Menú de navegación */
.nav-list{
    list-style: none;
    /*Agregar Felx Box*/
    display: flex;
    gap: 15px;
    align-items: center;
}
/* Estilo de los enlaces del menú */
.nav-list a{
    text-decoration: none;
    color: #5237ed;
    font-weight: bold;
    transition: .3s;
}

.nav-list a:hover{
    color: #b81bec; /* color cuando pasas el cursor */
}


/*tarjetas */
.interesante-container{
    padding: 20px;
    display: flex;
   
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
.product-letter{
    height: auto;
    background: white;
    border-radius: 20px;
    overflow: hidden;
    padding-bottom: 20px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
    transition: transform .2s ease, box-shadow .2s ease;
    /*para que la batch absoluta se posicione dentro*/
    position: relative;

    flex: 1 1 240px; /*ocupa minoimo los 240 pixeles y puede crecer y encogerse */
}
/* Efecto al pasar el mouse */
.product-letter:hover{
    transform: translateY(-6px);
    box-shadow: 0px 10px 20px rgba(0,0,0,0.15);
}
/* IMAGEN DEL PRODUCTO */
.product-img{
    width: 100%;
    height: auto;
    object-fit: contain; /* ajusta imagen sin deformarse */
    background-color: #fafafa;
    padding: 10px;
}
/* TÍTULO DEL PRODUCTO */
.product-title{
    font-size: 25px;
    font-weight: 600;
    margin-top: 10px;
    
}
/* DESCRIPCIÓN DEL PRODUCTO */
.product-desc{
    font-size: 14px;
    color: #171616;
    margin: 10px 15px;
}
/* BOTÓN DEL PRODUCTO */
.product-btn{
    background:black;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
    transition: .3s ease;
    font-size: 15px;
    font-weight: bold;
}

.product-btn:hover{
    background: #333334;
}

/*grid*/
.c1{
    grid-column: 1/2;
    grid-row: 1/2;

}

.product-letter c2{
    grid-column: 3/6;
    grid-row: 1/4;

}
.product-letter c3{
    grid-column: 1/3;
    grid-row: 4/7;
}
/* SECCIONES GENERALES */
/*aqui todo los textos de p se ponen justificados, descripciones*/
p{
    text-align: justify;
}
/*Aqui se pone todo los h2 homegeneo*/
h2{
    font-size: 35px;
    text-align: center;
    color: rgb(27, 4, 120);
}
h3{
    text-align: justify;
}
section{
    padding: 25px;
}

h2{
    font-size: 28px;
    margin-bottom: 10px;
}

ul{
    padding-left: 20px;
    margin: 10px 0;
}

li{
    margin-bottom: 6px;
}