*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family:"Science Gothic", sans-serif;
    background-color: lightgrey;
    color:black;

}
/* Limitar ancho y centrar
   - header, main y footer no serán de ancho completo
   - max-width evita que la página se vea muy ancha
   - margin auto los coloca al centro del body
*/
 header,main{
    width: 100%;
    max-width: 1200px;   /* puedes cambiarlo a 900, 1000, etc */
    margin: 0 auto;
 }
 
 /*nav*/
 .nav-main{
     background-color: rgb(176, 176, 239);
    padding: 15px 25px;
    max-width: 1200px;
    margin: 0 auto;
    position: sticky;
    top: 0;
    z-index: 1000;
    /*Agregar Felx Box*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.logo{
    font-size: 30px;
    font-weight: bold;
    color:rgb(27, 4, 120);
}

/* Menú de navegación */
.nav-list{
    list-style: none;
    /*Agregar Felx Box*/
    display: flex;
    gap: 15px;
    align-items: center;
}
/* Estilo de los enlaces del menú */
.nav-list a{
    text-decoration: none;
    color: #5237ed;
    font-weight: bold;
    transition: .3s;
}

.nav-list a:hover{
    color: #b81bec; /* color cuando pasas el cursor */
}
